@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
    background: #ebecf0;
    font-family: "Poppins";
    color: #2f3542;
}

.header{
    background: #0984e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    display: flex;
    align-items: center;
    height: 120px;
}

.logo img{
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 670px auto;
    border-radius: 5px;
    margin-left: 30px;
    gap: 10px;
}

.search i{
    color: #b2bec3;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.4s ease-in-out;
}

.search i:hover{
    transform: scale(1.25);
}

.search input{
    width: 670px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;   
    transition: all 0.8s ease-in-out; 
}

.login{
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 10px;
}

.login i{
    color: #fff;
    font-size: 30px;
}

/* Header - End*/

/* Menu List*/

.menu{
    background: #0984e3;
    border-bottom: 3px solid #006fc4;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav{
    width: 1100px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    gap:5px;
    transition: all 0.4s ease-in-out;
}

.menu li span{
    transition: all 0.4s ease-in-out;
}

.menu li:hover{
    background: #006fc4;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

/* Menu End*/

/* Ads*/

.ads{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-ads{
    width: 1100px;
    height: 250px;
    border-radius: 6px;
    object-fit: cover;
}

/* Ads END*/

/* Container Content */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.container-content{
    width: 1120px;
}

.container-content a{
    color: inherit;
    text-decoration: none;
}

.departament{
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 12px;
}

.card-item{
    display: inline-flex;
    position: sticky;
    width: 210px;
    height: 350px;
    background: #fff;
    border: 1px solid #dfe6e9;
    margin: 3px;
    border-radius: 7px;
    transition: all 0.4s linear;
}

.card-item:hover{
    background: #f6f6f6;
    border: 1px solid #b2bec3;
}

.card-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-item-img{
    position: absolute;
    top: 5px;
    width: 90%;
    transition: all 0.3s ease-in-out;
}

.card-item-img:hover{
    transform: scale(1.02);
}

.itemname{
    position: relative;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 70px;
}

.market{
    font-size: 10px;
    margin-top: 10px;
}

.price{
    position: absolute;
    color: #2f3542;
    font-weight: 700;
    font-size: 9px;    
    left: 12px;
    bottom: 5px;
}

.price-promo{
    position: absolute;
    color: #2f3542;    
    font-weight: 700;
    padding: 20px;
    left: 0;
    bottom: 15px;
}

.price-promo-text{
    position: absolute;
    color: #00b894;
    font-size: 10px;
    padding: 20px;
    bottom: 2px;
}
/* Container Content - End*/

.footer{
    background: #0984e3;
    height: 200px;
    border-top: 4px solid #006fc4;
    margin-top: 30px;
}

@media (width < 1120px){
    .search input{
        width: 500px;
    }
}

@media (width < 920px){
    .search input{
        width: 250px;
    }
}

@media (width < 810px){
    
}